 [Unit]
 Description=Wait for LYNX sync completion
 After=network.target lynx.service
 
 [Service]
 Type=oneshot
ExecStart=/usr/local/beacon/sync-wait.sh
