 [Unit]
Description=Beacon
 After=network.target lynx.service
 Wants=network.target
 
[Service]
Type=simple
ExecStart=/usr/local/bin/beacon
 Restart=on-failure
 User=root
 WorkingDirectory=/root
 Environment=LYNX_WORKING_DIR=/var/lib/lynx
 
 [Install]
 WantedBy=multi-user.target
